<% @answers.each do |answer| %>

  <div class="row">
    <div class="span9"><%= simple_format answer.content%></div>
  </div>

  <div class="row">
    <div class="span1 offset8"><%= simple_format answer.user.username%></div>
  </div>

  <hr>
<% end %>
