#tag_cloud {
  width: auto;
  line-height: 2.0em;

  >span {}

  span.post-tag {
    text-decoration: none;
    color: #6D8E99!important;
    background-color: #E8F9FF;
    border: 1px solid #C9DEE5;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    white-space: nowrap;
    overflow: visible;
    margin: 2px 2px 6px 0;
    padding: 0.1em 0.8em;
    line-height: 1.4;
  }
}
#tag_dsc{
  margin:5px;
  float:left;
 width: 250px;
 height: 150px;
}
#all_tag{
  margin-top:90px;
}
#dsc{
  margin-top: 5px;
  overflow: hidden;
  height: 85px;
}
