#tag_cloud {
  width: auto;
  line-height: 2.0em;

  > a {
    padding: 5px;
  }
  a.s {
    font-size: 0.8em;
    color: rgb(208, 222, 211);
  }
  a.m {
    font-size: 1.2em;
    color: rgb(215, 190, 188);
  }
  a.l {
    font-size: 1.8em;
    color: rgb(232, 111, 129);
  }
  a.h {
    font-size: 2.2em;
    color: rgb(245, 47, 82);
  }
}
